@tailwind base;
@tailwind components;
@tailwind utilities;

.grecaptcha-badge {
    visibility: hidden !important;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 100px;
    border: 1px solid #00ff40;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3f3f3f;
}
